.header {
	// .header__container
	&__container {
		min-height: 64px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .header__logo
	&__logo {
	}
	// .header__menu
	&__menu {
	}
}
.logo {
	position: relative;
	z-index: 50;
	padding: 8px 20px;
	display: flex;
	align-items: center;
	// .logo__icon
	&__icon {
		display: block;
		width: 24px;
		height: 24px;
		margin-right: 8px;
	}
	// .logo__text
	&__text {
	}
}
.menu-header {
	// .menu-header__burger
	&__burger {
		display: none;
		@media (max-width: 768px) {
			cursor: pointer;
			display: block;
			position: relative;
			top: 0px;
			right: 0px;
			width: 40px;
			height: 40px;
			z-index: 50;
			@include transition(0.5s, 0s);
			span {
				@include transition(0.5s, 0s);
				position: absolute;
				left: 50%;
				transform: translate(-50%, 0px);
				width: 20px;
				height: 1px;
				background-color: $dark;
				&:first-child {
					top: 15px;
				}
				&:last-child {
					//top: auto;
					bottom: 15px;
				}
			}
			&.active {
				span {
					&:first-child {
						transform: rotate(45deg);
						left: 10px;
						top: 19px;
					}
					&:last-child {
						transform: rotate(-45deg);
						left: 10px;
						bottom: 20px;
					}
				}
			}
		}
	}

	// .menu-header__wrapper
	&__wrapper {
	}
	// .menu-header__body
	&__body {
		@media (max-width: 768px) {
			display: flex;
			justify-content: center;
			align-items: center;
			position: fixed;
			right: -100%;
			top: 64px;
			width: 100%;
			height: 100%;
			background-color: $white;
			@include transition(0.5s, 0s);
			transition-timing-function: ease-in-out;
			overflow: auto;
			z-index: 49;
		}
		&.active {
			right: 0;
		}
	}
	// .menu-header__list
	&__list {
		display: flex;
		@media (max-width: 768px) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 32px;
			& .menu-header__link {
				font-size: rem(24);
				letter-spacing: 0.16em;
			}
		}
	}

	// .menu-header__link
	&__link {
		color: $dark;
		margin-left: 8px;
		@media (max-width: 768px) {
			margin: 0px;
		}
		@include transition(0.5s, 0s);
		@media (hover: hover) {
			&:hover {
				color: $primary;
				background-color: $primary10;
			}
		}
		&--active {
			cursor: default;
			//pointer-events: none;
			color: $primary;
			background-color: $primary10;
		}
	}
}
